ENVIRONMENT=local
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ecommercedb
DB_USER=postgres
DB_PASSWORD=postgres

CART_SERVICE_URL=http://cart-service:8002
USER_SERVICE_URL=http://user-service:8003
PRODUCT_SERVICE_URL=http://product-service:8001

AWS_REGION=us-east-1
SNS_ENDPOINT=http://localstack:4566
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:order-events
